cn = "ocacs.armancoders.com"  
organization = "ocacs.armancoders.com"  
#serial = 200909 
expiration_days = 3650
signing_key
encryption_key
tls_www_server
dns_name = "ocacs.armancoders.com"
#ip_address = "if no hostname uncomment and set the IP address here"
